*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 85%;
    margin: 0 auto;
}

/* top level navigation */
.navbar{
    background-color: #f2df0a;

    min-height: 100px;
}

.navbar .logo{
    font-size: 48px;
    font-weight: 700;
    color: rgb(41, 27, 239);

}

.navbar .logo,ul{
    /* margin-top: 15px; */
}

.navbar ul{
    font-size: 18px;
    list-style-type: none;
}

.navbar a{
    color: rgb(41, 27, 239);
    text-decoration: none;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul{
    display: flex;
    gap: 15px;
}

/* Wander Overview */

.header{
    background-color: #f2df0a;   
}

.text-content h1{
    font-size: 62px;
    font-weight: 700;
    margin: 12px 0px;
}

.text-content p{
    font-size: 18px;
    padding: 10px 0px;
    margin: 10px 0px;
}

.text-content button{
    border-radius: 25px;
    padding: 8px;
    margin: 5px 0px;
}

.header .image-content img{
    border-radius: 25px;
    border: 5px solid black;
    width: 100%;
    height: auto;
}

.header .text-content{
    flex:1 0 400px;
}

.header .image-content{
    flex:1 0 400px;
}

 .header .container{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

/* first-section Tour Locations */
.section-one h2{
    font-size: 32px;
    font-weight: 700;
    border-radius: 25px;
}

.section-one .title{
    margin: 20px;
    text-align: center;
    padding: 20px;
}

.box h3{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

.box p{
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

.box img{
    border: 5px solid black;
    border-radius: 25px;
    width: 200px;
    height: 200px;
    object-fit:fill;
    align-self: center;
    margin: 20px 0px;
}

.section-one .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    /* height: 100%;
    flex: 1 1 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;

}


/* section-two quotes */
.section-two{
    background-color:rgb(238, 234, 234);
    height: 400px;
    display: flex;
    justify-content: center;
}

.section-two blockquote{
    font-size: 36px;
    color: rgb(73, 71, 71);
    text-align: center;
}

.section-two cite{
    color: rgb(73, 71, 71);
    margin: 20px 0px;
    align-self: flex-end;
}

 .section-two .container{
    display: flex;
    max-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* section three more info  */

.card{
    margin:5%;
    height: 150px;
}
.card .container{
    display: flex;  
    align-items: center;
    justify-content: space-around;
    background-color: rgb(41, 27, 239);
    padding: 20px;
    border-radius: 25px;

}

.sign-up-text p{
    color: white;
    font-size: 18px;
    align-self: flex-start;
}

.sign-up-text h3{
    color: white;
    font-weight: 1000;
    font-size: 20px;
}

.card button{
    background-color: #f2df0a;
    border-radius: 25px;
    padding: 8px;
    margin: 5px 0px;

}

footer{
    text-align: center;
    padding: 20px;
}